﻿@{
    ViewBag.Title = "Canli_Sonuclar";
    Layout = "~/Views/Default/Index.cshtml";
}
<div class="container">
    <h1>Canlı Sonuçlar</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Dakika</th>
                <th>Ev Sahibi</th>
                <th>Sonuç</th>
                <th>Deplasman</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MS</td>
                <td>Kasımpaşa</td>
                <td>3 : 2</td>
                <td>İnegölspor</td>
            </tr>
            
            <tr>
                <td>MS</td>
                <td>Boluspor</td>
                <td>1 : 1</td>
                <td>Beşiktaş</td>
            </tr>
            
            <tr>
                <td>33'</td>
                <td>Başakşehir</td>
                <td>3 : 2</td>
                <td>Göztepe</td>
            </tr>
            
            <tr>
                <td>56'</td>
                <td>Yeni Amasyaspor</td>
                <td>0 : 2</td>
                <td>Sivasspor</td>
            </tr>
            
            <tr>
                <td>15'</td>
                <td>Takım A</td>
                <td>0 : 1</td>
                <td>Takım B</td>
            </tr>
            
            <tr>
                <td>23'</td>
                <td>Takım A</td>
                <td>1 : 1</td>
                <td>Takım B</td>
            </tr>
            
            <tr>
                <td>34'</td>
                <td>Takım A</td>
                <td>2 : 0</td>
                <td>Takım B</td>
            </tr>
            
            <tr>
                <td>45+'</td>
                <td>Takım A</td>
                <td>0 : 1</td>
                <td>Takım B</td>
            </tr>
            
            <tr>
                <td>90+'</td>
                <td>Takım A</td>
                <td>3 : 3</td>
                <td>Takım B</td>>
            </tr>
            
            <tr>
                <td>71'</td>
                <td>Takım A</td>
                <td>1 : 2</td>
                <td>Takım B</td>
            </tr>
            
            <tr>
                <td>48'</td>
                <td>Takım A</td>
                <td>1 : 1</td>
                <td>Takım B</td>
            </tr>
            
            <tr>
                <td>64'</td>
                <td>Takım A</td>
                <td>3 : 1</td>
                <td>Takım B</td>
            </tr>
        </tbody>
    </table>
</div>



