﻿
@{
    ViewBag.Title = "Futbol";
    Layout = "~/Views/Default/Index.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Haber Akışı</h1>
            <h6>__________________________________________________________________________________________________________</h6>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="thumbnail">
                        <img src="~/img/haber1903.jpg">
                        <div class="caption">
                            <h3>Haber Başlığı</h3>
                            <p>Haber içeriği</p>
                            <button type="button" class="btn btn-success">Devamı oku</button>
                        </div>
                    </div>
                </div>
                <ul class="pager">
                    <li><a href="#">Geri</a></li>
                    <li><a href="#">İleri</a></li>
                </ul>
            </div>
        </div>

