﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Üye Girisi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Giriş Yap</h2>
        <p>Güvenliğiniz için parolanızı belirli aralıklarla güncellemeyi unutmayınız.</p>
        <form class="form-inline">
            <div class="form-group">
                <label for="email">E posta:</label>
                <input type="email" class="form-control" id="email" placeholder="E posta giriniz">
            </div>
            <div class="form-group">
                <label for="pwd">Şifre:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Şifreyi giriniz">
            </div>
            <div class="checkbox">
                <label><input type="checkbox">Beni Hatırla</label>
            </div>
            <a href="#" class="btn btn-info" role="button">Şifremi Unuttum</a>
            <a href="http://localhost:1861/Default/Anasayfa" class="btn btn-success" role="button">Giriş Yap</a>
        </form>
    </div>

</body>
</html>
