﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>KaraKartal 1903</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
</head>
<body>
    <div class="jumbotron">
        <center><h1>KaraKartal 1903</h1></center>
        <center>
            <p>
                <h2>Yürüyoruz Adım Adım ...</h2>
            </p>
        </center>
    </div>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8 text-left">
                <div class="container">
                </div>
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <center>
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="http://localhost:1861/Default/Anasayfa">Anasayfa</a></li>
                                    <li><a href="http://localhost:1861/Default/Futbol">Futbol</a></li>
                                    <li><a href="http://localhost:1861/Default/Canli_Sonuclar">Canlı Sonuçlar</a></li>
                                    <li><a href="http://localhost:1861/Default/Oy_Ver">Oy Ver</a></li>
                                    <li><a href="http://localhost:1861/Default/Fikstür">Fikstür</a></li>
                                    <li><a href="http://localhost:1861/Default/Kunye">Künye</a></li>
                                    <li><a href="http://localhost:1861/Default/Iletisim">İletişim</a></li>
                                </ul>
                            </center>
                            <form class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Arama Yap">
                                </div>
                                <button type="submit" class="btn btn-default">Ara</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="http://localhost:1861/Default/kayit_ol"><span class="glyphicon glyphicon-user"></span>Kayıt ol</a></li>
                                <li><a href="http://localhost:1861/Default/Giris_Yap"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="Siyah Beyaz En Büyük Beşiktaş" data-slide-to="0" class="active"></li>
            <li data-target="Efsaneler Ölmez" data-slide-to="1"></li>
            <li data-target="Kartal Gol Gol Gol!" data-slide-to="2"></li>
            <li data-target="Efendi Beşiktaş" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/img/slider-1.jpg" alt="Chania">
            </div>

            <div class="item">
                <img src="~/img/slider-2.jpg" alt="Chania">
            </div>

            <div class="item">
                <img src="~/img/slider-3.jpg" alt="Flower">
            </div>

            <div class="item">
                <img src="~/img/slider-4.jpg" alt="Flower">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container">
        @RenderBody()
    </div>


    <footer>
        <div class="puanDurumu">
            <h3>Puan Durumu <a href="http://haber1903.com/page/puandurumu" class="btn btn-danger btn-xs">Detaylı Görüntüle</a></h3>
            <div class="container-fluid">
                <div class="row">
                    <div class="league-table">


                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col_6">#</th>
                                    <th class="col_6">Takımlar</th>
                                    <th class="col_4">O</th>
                                    <th class="col_1">G</th>
                                    <th class="col_1">B</th>
                                    <th class="col_1">M</th>
                                    <th class="col_5">Av</th>
                                    <th class="col_6">P</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col_6">1</td>
                                    <td class="col_6">Medipol Başakşehir</td>
                                    <td class="col_4">15</td>
                                    <td class="col_1">10</td>
                                    <td class="col_1">5</td>
                                    <td class="col_1">0</td>
                                    <td class="col_5">20</td>
                                    <td class="col_6">35</td>
                                </tr>
                                <tr>
                                    <td class="col_6">2</td>
                                    <td class="col_6">Beşiktaş</td>
                                    <td class="col_4">15</td>
                                    <td class="col_1">9</td>
                                    <td class="col_1">5</td>
                                    <td class="col_1">1</td>
                                    <td class="col_5">14</td>
                                    <td class="col_6">32</td>
                                </tr>
                                <tr>
                                    <td class="col_6">3</td>
                                    <td class="col_6">Galatasaray</td>
                                    <td class="col_4">15</td>
                                    <td class="col_1">9</td>
                                    <td class="col_1">3</td>
                                    <td class="col_1">3</td>
                                    <td class="col_5">10</td>
                                    <td class="col_6">30</td>
                                </tr>
                                <tr>
                                    <td class="col_6">4</td>
                                    <td class="col_6">Fenerbahçe</td>
                                    <td class="col_4">15</td>
                                    <td class="col_1">8</td>
                                    <td class="col_1">4</td>
                                    <td class="col_1">3</td>
                                    <td class="col_5">19</td>
                                    <td class="col_6">28</td>
                                </tr>
                                <tr>
                                    <td class="col_6">5</td>
                                    <td class="col_6">Bursaspor</td>
                                    <td class="col_4">15</td>
                                    <td class="col_1">8</td>
                                    <td class="col_1">3</td>
                                    <td class="col_1">4</td>
                                    <td class="col_5">5</td>
                                    <td class="col_6">27</td>
                                </tr>
                                <tr>
                                    <td class="col_6">6</td>
                                    <td class="col_6">Atiker Konyaspor</td>
                                    <td class="col_4">15</td>
                                    <td class="col_1">6</td>
                                    <td class="col_1">6</td>
                                    <td class="col_1">3</td>
                                    <td class="col_5">5</td>
                                    <td class="col_6">24</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>




