﻿
@{
    Layout = null;
    string adi, soyadi, email;
    
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kayıt Ol</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Kayıt Ol</h2>
        <form>
            <div class="form-group">

                <label for="usr">Ad:</label>
                <input type="text" class="form-control" id="usr" placeholder="Adınızı giriniz">
            </div>
            <div class="form-group">
                <label for="usr">Soyad:</label>
                <input type="text" class="form-control" id="usr1" placeholder="Soyadınızı giriniz">
            </div>
            <div class="form-group">
                <label for="email">E posta:</label>
                <input type="email" class="form-control" id="email" placeholder="E posta giriniz">
            </div>
            <div class="form-group">
                <label for="pwd">Şifre:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Şifre giriniz">
            </div>
            <div class="form-group">
                <label for="pwd">Tekrar Şifre:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Şifrenizi Tekrar Giriniz">
            </div>
            <a href="http://localhost:1861/Default/Anasayfa" class="btn btn-success" role="button">Kayıt Ol</a>
        </form>
    </div>

</body>
</html>
