﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>KaraKartal 1903</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
</head>
<body>
    <div class="jumbotron">
        <center><h1>KaraKartal 1903</h1></center>
        <center>
            <p>
                <h2>Yürüyoruz Adım Adım ...</h2>
            </p>
        </center>
    </div>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8 text-left">
                <div class="container">
                </div>
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <center>
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="http://localhost:1861/Default/Anasayfa">Anasayfa</a></li>
                                    <li><a href="http://localhost:1861/Default/Futbol">Futbol</a></li>
                                    <li><a href="http://localhost:1861/Default/Canli_Sonuclar">Canlı Sonuçlar</a></li>
                                    <li><a href="http://localhost:1861/Default/Oy_Ver">Oy Ver</a></li>
                                    <li><a href="http://localhost:1861/Default/Fikstür">Fikstür</a></li>
                                    <li><a href="http://localhost:1861/Default/Kunye">Künye</a></li>
                                    <li><a href="http://localhost:1861/Default/Iletisim">İletişim</a></li>
                                </ul>
                            </center>
                            <form class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Arama Yap">
                                </div>
                                <button type="submit" class="btn btn-default">Ara</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="http://localhost:1861/Default/kayit_ol"><span class="glyphicon glyphicon-user"></span>Kayıt ol</a></li>
                                <li><a href="http://localhost:1861/Default/Giris_Yap"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="Siyah Beyaz En Büyük Beşiktaş" data-slide-to="0" class="active"></li>
            <li data-target="Efsaneler Ölmez" data-slide-to="1"></li>
            <li data-target="Kartal Gol Gol Gol!" data-slide-to="2"></li>
            <li data-target="Efendi Beşiktaş" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/img/slider-1.jpg" alt="Chania">
            </div>

            <div class="item">
                <img src="~/img/slider-2.jpg" alt="Chania">
            </div>

            <div class="item">
                <img src="~/img/slider-3.jpg" alt="Flower">
            </div>

            <div class="item">
                <img src="~/img/slider-4.jpg" alt="Flower">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container">
        <div class="container">
            <h1>Künye</h1>
            <center>
                <img src="~/img/profil.jpg" class="img-circle" width="350" height="350">
                <p>
                    <h3>Kişisel Bilgiler</h3>
                    <h1>Ad    : Mehmet</h1>
                    <h1>Soyad : Özyürek</h1>
                </p>
            </center>
        </div>
